@import 'assets/styles/variable.scss';

.container {
	position: relative;
}

.icon {
	cursor: pointer;
	transition: all 0.2s ease;
	height: 1.875rem;
	width: 1.875rem;
	background: $secondColorDark;
	border-radius: 50%;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem;
	&:hover {
		filter: brightness(1.2);
	}
}

.dropdown {
	position: absolute;
	top: 2.5rem;
	right: 0;
	overflow: hidden;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	min-width: 12.5rem;
	backdrop-filter: blur(3rem);
	padding: 0.5rem;
	transition: all 0.2s ease;
	z-index: 10;
	background-color: #6b6b6b7c;
	& > li + li {
		margin-top: 0.2rem;
	}
}
