@import 'assets/styles/variable.scss';

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3.75rem;
	z-index: 1000;
	backdrop-filter: blur(3rem);
	background: linear-gradient(
		125deg,
		$secondColorDark,
		$secondColorDark20
	);
	position: relative;
	background-color: transparent;
	&::before {
		z-index: -1;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		filter: blur(4rem);
		background: linear-gradient(
			125deg,
			$secondColorDark,
			$secondColorDark20
		);
	}
}

.padding {
	&large {
		padding: 0 1.125rem;
	}
	&medium {
		padding: 0 9.75rem;
	}
}
