@import 'assets/styles/variable.scss';

.container {
	width: 100%;
	height: calc(100%);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 3.85rem);
	justify-content: flex-start;
	overflow-y: scroll;
	align-items: center;
	scroll-behavior: smooth;
	padding-top: 1.25rem;
	&::-webkit-scrollbar {
		width: 0.2rem;
	}
	&::-webkit-scrollbar-track {
		background: $secondColorDark;
	}
	&::-webkit-scrollbar-thumb {
		background: $textColor20;
		border-radius: 100rem;
	}
}
