@import 'assets/styles/variable.scss';

.container {
	padding: 1rem 0.75rem 0 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: calc(100% - 1.5rem);
}

.group {
	padding: 0;
	& > li + li {
		margin-top: 1rem;
	}
}

.start {
	align-items: flex-start;
}

.end {
	align-items: end;
}

.fullWidth {
	width: 100%;
}

.right {
	align-self: flex-end;
}

.label {
	font-weight: bold;
	font-size: 1.5rem;
}