@import 'assets/styles/variable.scss';

.container {
	padding: 2.5rem 2.25rem;
	background: $secondColorDark;
	box-shadow: -0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.25);
	border-radius: 0.625rem;
	width: 100%;
	max-width: 26.25rem;
	backdrop-filter: blur(3px);
}

.py {
	padding: 1rem 0;
}


.signInWith {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.toSignUp {
	font-weight: normal;
	font-size: 14px;
    &>a {
        font-weight: 700;
    }
}
