.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
    margin-top: 0.6rem;
    position: relative;
    & > * {
        margin-left: 2rem;
    }
    &:last-child {
        margin-right: 0.5rem;
    }
}
