@import 'assets/styles/variable.scss';

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	box-sizing: border-box;
	margin: 1rem;
	padding: 1.5rem;
	grid-gap: 1rem;
	backdrop-filter: blur(3rem);
	background: linear-gradient(
		125deg,
		$secondColorDark,
		$secondColorDark20
	);
	border-radius: 0.675rem;
	align-self: center;
	max-width: 37.5rem;
}

.avatar {
	margin-top: 0;
	margin-bottom: 1rem;
}

.left {
	padding: 1.5rem;
	height: 10rem;
	width: 10rem;
}

.avatar {
	position: relative;
	& > img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
	& > span {
		padding: 0.2rem;
		background: $mainColorDark;
		position: absolute;
		border-radius: 50%;
		width: 3rem;
		height: 3rem;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: all 0.2s ease;
		transform: scale(0.8);
		&:hover {
			filter: brightness(1.3);
			transform: scale(0.9);
		}
		&:active {
			filter: brightness(1);
			transform: scale(0.7);
		}
	}
	&:hover > span {
		opacity: 1;
	}
}

.bottom {
	grid-column: 1/3;
}

.input {
    margin-bottom: 1rem;
	& > label {
		font-style: normal;
		font-weight: bold;
	background: $secondColorDark;
		font-size: 1.125rem;
		margin-bottom: 0.5rem;
	}
}

.textarea {
	outline: none;
	border: 1px solid $secondColorDark;
	margin-top: 0.8rem;
	padding: 1rem 1.25rem;
	border-radius: 0.625rem;
	font-style: normal;
	font-weight: normal;
	font-size: 0.875rem;
	background: $mainColorDark;
	color: $textColor;
	transition: all 0.2s ease;
	font-family: inherit;
	width: fill;
	resize: none;
	&::-webkit-scrollbar {
		width: 0.2rem;
	}
	&::-webkit-scrollbar-track {
		background: $secondColorDark;
	}
	&::-webkit-scrollbar-thumb {
		background: $textColor20;
		border-radius: 100rem;
	}
}

.buttonContainer {
	grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
