@import 'assets/styles/variable.scss';

.container {
	padding: 0.375rem;
	box-shadow: -3px 4px 4px 0px #00000040;
	background-color: $mainColorDark;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 4.375rem;
	width: 100%;
	transition: all 0.05s ease;
	box-sizing: border-box;
	&:hover {
		box-shadow: -4px 5px 5px 1px #00000040;
		transform: scale(1.008);
	}
	&:active {
		box-shadow: -3px 4px 4px 0px #00000040;
		transform: scale(1);
	}
}

.pointer {
	cursor: pointer;
}

.icon {
	height: 1.875rem;
	width: 1.875rem;
	object-fit: cover;
	border-radius: 100%;
}

.iconSvg > svg {
	height: 1.875rem;
	width: 1.875rem;
}

.text {
	margin-left: 0.8rem;
	font-weight: 500;
	font-size: 1.125rem;
}
