@import 'assets/styles/variable.scss';

.container {
	position: absolute;
	z-index: 10;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, -50%);
	backdrop-filter: blur(3rem);
	background: linear-gradient(
		125deg,
		$secondColorDark,
		$secondColorDark20
	);
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	border: solid 2px transparent;
	opacity: 0.5;
    transition: opacity 0.2s ease;
    display: flex;
    &> * + * {
        margin-left: 1rem;
    }
	&:hover {
		opacity: 1;
	}
}

.gridControl {

}
