@import 'assets/styles/variable.scss';

.container {
	display: flex;
	align-items: center;
	box-shadow: -0.1875rem 0.25rem 0.25rem 0 #00000040;
	background: $mainColorDark;
	border: 0.1875rem solid $secondColorDark;
	border-radius: 4.375rem;
	padding: 0.3rem 0.8rem;
	justify-content: space-between;
	& > input {
		height: 2rem;
        width: 100%;
        box-sizing: border-box;
		background: transparent;
		outline: none;
		border: none;
		font-family: inherit;
        color: #fff;
	}
    & > svg {
        transition: all 0.2s ease;
        &:hover {
            transform: scale(1.002);
            filter: brightness(1.5);
        }
        &:active {
            transform: scale(1.002);
            transform: scale(0.98);
            filter: brightness(1) blur(0.2rem);
        }
    }
}
