@import 'assets/styles/variable.scss';

.container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.title {
	font-style: normal;
	font-weight: bold;
	font-size: 1.125rem;
	margin-bottom: 0.5rem;
}

.input {
	outline: none;
	border: 1px solid $secondColorDark;
	padding: 1rem 1.25rem;
	border-radius: 0.625rem;
	font-style: normal;
	font-weight: normal;
	font-size: 1.125rem;
	font-family: inherit;
	background: $mainColorDark;
	color: $textColor;
	transition: all 0.2s ease;
	&:placeholder-shown {
		font-family: inherit;
	}
	&:focus {
		border-color: $borderColor;
	}
	&:invalid[focused='true'] {
		border-color: #fc8477;
		& ~ .errorMessage {
			opacity: 1;
			height: auto;
		}
	}
}

.errorMessage {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 0.75rem;
	color: #fc8477;
	opacity: 0;
	height: 0;
	transition: all 0.2s ease;
}

.fullWidth {
	width: fill;
}

.icon {
	position: absolute;
	right: 1.5rem;
	top: 3rem;
}
