.navlist {
	display: flex;
	align-items: center;
	font-weight: bold;
	justify-content: flex-end;
	font-size: 1.125rem;
	padding: 0;
	margin-left: 1rem;
	& > li + li {
		margin-left: 2.875rem;
	}
}

//Tablet: width >= 740px and width < 1024px.
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
	.navlist {
		& > li + li {
			margin-left: 0rem;
		}
	}
}
//Mobile: width < 740px.
@media only screen and (max-width: 46.1875em) {
	.navlist {
		& > li + li {
			margin-left: 0.6rem;
		}
	}
}
//PC: width >= 1024.
@media only screen and (min-width: 64em) {
}
