.image {
	&large {
		width: 2.5rem;
		height: 2.5rem;
		object-fit: cover;
	}
	&medium {
		width: 2.5rem;
		height: 2.5rem;
		object-fit: cover;
	}
}

.text {
	&large {
		font-size: 1.5rem;
		font-weight: bold;
	}
	&medium {
		font-size: 1.125rem;
		font-weight: bold;
	}
}

.subText {
	font-size: 0.875rem;
	font-weight: normal;
	margin-left: 0.5rem;
}

.container {
	display: flex;
    align-items: center;
}

.avatar {
	border-radius: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	margin-left: 0.5rem;
}

.date {
	font-size: 0.75rem;
}
