.container {
	width: 100%;
	height: calc(100vh - 3.75rem);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	overflow-y: scroll;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
	.container {
		justify-content: center;
	}
}
//Mobile: width < 740px.
@media only screen and (max-width: 46.1875em) {
	.container {
		justify-content: center;
	}
}
//PC: width >= 1024.
@media only screen and (min-width: 64em) {
}
