@import 'assets/styles/variable.scss';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #0f1012;
	box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.25);
	height: calc(100vh - 9rem);
	overflow-y: scroll;
	overflow-x: hidden;
	margin-bottom: 1rem;
	box-sizing: border-box;
	position: relative;
	&::-webkit-scrollbar {
		width: 0.2rem;
	}
	&::-webkit-scrollbar-track {
		background: $secondColorDark;
	}
	&::-webkit-scrollbar-thumb {
		background: $textColor20;
		border-radius: 100rem;
	}
	padding: 1rem;
}
.mini {
	height: 15rem;
	border-radius: 0.625rem;
}

.imageLabel {
	position: absolute;
	top: 0;
	right: 0;
	border: 0.4rem solid #0f1012;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	transform: translate(20%, -40%);
	background-color: $secondColorDark;
	& > img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
	& > svg {
		width: 100%;
		height: auto;
	}
}
