$mainColorDark: #0f1012;
$secondColorDark: rgba(32, 33, 38, 0.7);
$secondColorDark90: rgba(32, 33, 38, 0.9);
$secondColorDark20: rgba(32, 33, 38, 0.2);
$textColor: #fff;
$textColor20: rgb(255, 255, 255, 0.2);
$borderColor: rgba(255, 255, 255, 0.7);
