@import 'assets/styles/variable.scss';

.dividerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	width: 100%;
	align-self: center;
}

.divider {
	height: 0;
	border-top: 1px solid $textColor20;
	width: 45%;
}

.fullWidth {
	width: 90%;
}

.jcc {
	justify-content: center;
}
